# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:

  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  one:
    runs-on: ubuntu-latest
    steps:
    - name: Debug Tag Branch
      run: |
        echo "github.ref: ${{ github.ref }}"
        echo "github.base_ref: ${{ github.base_ref }}"
        echo "github.head_ref: ${{ github.head_ref }}"
        echo "github.event: ${{ github.event }}"
        echo "github.event_name: ${{ github.event_name }}"
        echo "github.event.base_ref: ${{ github.event.base_ref }}"

    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJSON(github) }}
      run: echo "$GITHUB_CONTEXT"

